<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="icon" href="./favicon.png">

    <script src="https://kit.fontawesome.com/d9838cfb82.js" crossorigin="anonymous"></script>

    <title>YoungMinds</title>
</head>

<body>
    <!-- Header Section -->
    <header id="headerContent">
        <section class="main-nav">
            <h2 class="logo"><a href="#/home-page">YoungMinds</a></h2>
            <div class="search">
                <input type="search" placeholder="Cari Apapun Disini ...">
            </div>
            <div class="user-account">
                <div class="user-profile">
                    <img src="https://img.icons8.com/bubbles/50/user.png" alt="user" />
                </div>
                <div class="user-information">
                    <h4 class="user name">Hanifa Asra Silmi Monalisa</h4>
                    <h5 class="user email">hanifasrasilmi@gmail.com</h5>
                </div>
            </div>
            <button class="menu-bar"
                onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                aria-label="Main Menu">
                <svg viewBox="0 0 100 100">
                    <path class="line line-1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line-2" d="M 20,50 H 80" />
                    <path class="line line-3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </section>
        <nav>
            <li><a href="#/home-page">Beranda</a></li>
            <li><a href="#/list-consultant-page">Konsultan</a></li>
            <li><a href="#/register-page">Artikel</a></li>
            <li><a href="#/login-page">Layanan</a></li>
            <li><a href="#/checkout-page">Tentang</a></li>
            <li><a href="#/booking-page">Kontak</a></li>
            <li><a href="#/home-page">Team</a></li>
        </nav>
    </header>
    <!-- Header Section -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">



            
            <h1>Mari Konsultasi Bersama Kami</h1>
            <h2>Posyandu Remaja demi generasi bangsa!</h2>
            <a href="#about" class="btn-get-started scrollto">Login</a>
        </div>
    </section><!-- End Hero -->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section -->

    <!-- Footer Section  -->
    <footer id="footerContent">
        <section class="main-footer">
            <div class="company">
                <h2>YoungMinds</h2>
                <div class="newsletter">
                    <input type="search" id="search" placeholder="youremail@example.com">
                    <label for="search">Masukkan email Anda untuk berlangganan bersama kami dan dapatkan informasi
                        terbaru dari kami</label>
                </div>
                <div class="social-media">
                    <b>Ikuti sosial media kami</b>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links">
                <div class="link">
                    <h4>Fitur</h4>
                    <li><a href="">Artikel</a></li>
                    <li><a href="">Chat Dokter</a></li>
                    <li><a href="">Forum</a></li>
                    <li><a href="">Riviews</a></li>
                    <li><a href="">Promo</a></li>
                </div>
                <div class="link">
                    <h4>Perusahaan</h4>
                    <li><a href="">Tentang Kami</a></li>
                    <li><a href="">Karir</a></li>
                    <li><a href="">Kontak</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Histori</a></li>
                    <li><a href="">Program</a></li>
                </div>
                <div class="link">
                    <h4>Dukungan</h4>
                    <li><a href="">Syarat dan Ketentuan</a></li>
                    <li><a href="">Kebijakan Privasi</a></li>
                    <li><a href="">Kebijakan Editorial</a></li>
                    <li><a href="">Pusat Bantuan</a></li>
                    <li><a href="">Donasi</a></li>
                </div>
                <div class="link">
                    <h4>Daftar Mitra</h4>
                    <li><a href="">Merchant</a></li>
                    <li><a href="">Faskes Mitra</a></li>
                    <li><a href="">YoungMinds</a></li>
                    <li><a href="">Operasional</a></li>
                </div>
            </div>
        </section>
        <section class="copyright">
            <h5>&copy; 2023 YoungMinds All Rights Reserved</h5>
        </section>
    </footer>
    <!-- Footer Section  -->

</body>

</html>