<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="">

    <link rel="icon" href="./favicon.png">

    <script src="https://kit.fontawesome.com/d9838cfb82.js" crossorigin="anonymous"></script>

    <title>YoungMinds</title>
</head>

<body>
    <!-- Header Section -->
    <header id="headerContent">
        <h1>Header Section</h1>
        <nav>
            <li><a href="#/home-page">Home</a></li>
            <li><a href="#/login-page">Login</a></li>
            <li><a href="#/register-page">Register</a></li>
        </nav>
    </header>
    <!-- Header Section -->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section -->

    <!-- Footer Section  -->
    <footer id="footerContent">
        <h2>Footer Section</h2>
    </footer>
    <!-- Footer Section  -->

</body>

</html>