<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>User Register</title>

  <style>
    :root {
      --main-color: #2B8E8E;
      --secondary-color: #DCF4F4;
      --body-color: #fafafa;
      --shadow-color: #404040;
      --orange-color: #FFF1D4;
    }

    * {
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      display: grid;
      justify-content: center;
      font-weight: 200;
      line-height: normal;
      font-size: 14px;
      background-color: white;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: var(--main-color);
    }

    b {
      font-weight: 600;
    }

    p {
      margin: 0;
    }

    .overlay {
      position: relative;
      justify-content: center;
      align-items: center;
    }

    .overlay .container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      padding: 20px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      z-index: 9999;
      gap: 0;
    }

    .alert-success {
      background-color: #f8f9fa;
      margin: 0;
      font-weight: 700;
      border: none;
    }

    .custom-alert {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      background-color: #f8f9fa;
      border: none;
    }

    .custom-alert .spinner-border {
      display: inline-block;
      vertical-align: middle;
    }

    .authentication {
      width: 100%;
      height: 100vh;
    }

    .authentication .container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      margin: 0;
      gap: 30px;
    }

    .container form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
    }

    .container form h3 {
      font-size: 30px;
    }

    .container form .input {
      gap: 8px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .container form .input input {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid var(--main-color);
      background-color: #DCF4F4;
    }

    .container form .agreement {
      display: flex;
      gap: 10px;
    }

    .container form .links {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .container form .links p a {
      text-decoration: underline;
    }

    .container form .links button {
      width: fit-content;
      padding: 10px 15px;
      border-radius: 8px;
      color: var(--main-color);
      font-weight: 600;
      letter-spacing: 1px;
      border: none;
      cursor: pointer;
      transition: 0.3s ease-in;
      background-color: #DCF4F4;
      border: 1px solid var(--main-color);
    }

    .container form .links button:hover {
      background-color: var(--main-color);
      color: white;
    }

    .container .ilustration {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container .ilustration img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  </style>
</head>

<body>

  <div class="overlay" style="display: none;">
    <div class="container">
      <div class="alert alert-success" role="alert" id="successAlert">
        <p>User Berhasil Registrasi</p>
      </div>
      <div class="alert alert-info custom-alert" role="alert" id="loadingNotice">
        <div class="spinner-border text-primary me-2" role="status"></div>
        <span>Loading...</span>
      </div>
    </div>
  </div>

  <div class="authentication">
    <div class="container">
      <form action="/register" method="POST" onsubmit="showLoadingNotice(); showSuccessAlert();">
        <!-- <form action="/register" method="POST"> -->
        <h3>Daftar</h3>
        <div class="input">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="agreement">
          <input type="checkbox">
          <p>Saya Menyetujui <b><a href="">Ketentuan</a></b> dan <b><a href="">Kebijakan Privasi</a></b></p>
        </div>
        <div class="links">
          <p>Sudah punya akun ? <a href="/login">Masuk</a></p>
          <button type="submit">Daftar</button>
        </div>
      </form>
      <div class="ilustration">
        <img
          src="https://img.freepik.com/free-vector/online-consulting-concept-illustration_114360-9096.jpg?w=740&t=st=1686825682~exp=1686826282~hmac=6097e1d8c4ed5c01d5ce91667886230ebb87d11f12180849c9fb7645cb5e3ce5">
      </div>
    </div>
  </div>

  <script>
    function showLoadingNotice() {
      const overlay = document.querySelector('.overlay');
      const loadingNotice = document.getElementById('loadingNotice');
      overlay.style.display = 'flex';
      loadingNotice.style.display = 'block';
    }

    function showSuccessAlert() {
      const overlay = document.querySelector('.overlay');
      const successAlert = document.getElementById('successAlert');
      overlay.style.display = 'flex';
      successAlert.style.display = 'block';
    }

    // function redirectToLogin() {
    //   setTimeout(function () {
    //     window.location.href = "/login";
    //   }, 3000); // Delay 5000 ms (5 detik) sebelum mengarahkan ke halaman /login
    // }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>