@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* End Configuration Tag Style Design System */

:root {
    --main-color: #2B8E8E;
    --secondary-color: #DCF4F4;
    --black-color: #404040;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 200;
    line-height: normal;
    font-size: 16px;
    background-color: #eee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

/* End Configuration Tag Style Design System */


/* ================================================== */


/* Mobile Size Responsive */

/* Start Header */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    padding: 0px 20px;
    border-bottom: 3px solid var(--main-color);
    position: fixed;
    background-color: white;
}


header section.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
}

header section.main-nav .logo>a {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 700;
}

header .search {
    display: none;
}

header .search input {
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
}

header .user-account {
    display: none;
}

.user-account .user-profile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.user-account .user-information {
    height: 100%;
}

.user-information .user {
    color: var(--black-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}


button.menu-bar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
}

.line {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line-2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line-3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line-1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line-2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line-3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

header nav {
    display: none;
}

/* End Heaaer */

/* Start Main */

main {
    padding-top: 60px;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* Start Section Autentication Register Page and Login Page */

section.autentication {
    position: relative;
    padding: 20px;
    width: 100%;
    height: auto;
    color: white;
}

.container.autentication {
    background-color: var(--main-color);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 14px;
}

.container.autentication h2 {
    text-align: center;
    margin: 20px 0;
    color: white;
    font-weight: 600;
}

.container.autentication li a {
    color: white;
    font-weight: 600;
}

.container.autentication li a:hover {
    color: var(--secondary-color);
}

.container.autentication form {
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    order: 2;
}

.container.autentication form .user-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container.autentication form .user-input input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.container.autentication form .privacy-accepted {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 14px;
}

.container.autentication form .privacy-accepted input {
    width: 20px;
    height: 20px;
}

.container.autentication form .switch-page {
    display: flex;
    justify-content: space-between;
}

.container.autentication form .switch-page button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: white;
}

.container.autentication form .switch-page button:hover {
    background-color: var(--secondary-color);
}

.container.autentication form .choices-login {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.container.autentication form .choices-login a img {
    width: 80px;
    height: 30px;
}

.container.autentication .ilustration {
    width: 100%;
    height: 100%;
    order: 1;
}

.container.autentication .ilustration img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 20px 20px 0px 10px;
}

section.consultants {
    position: relative;
}

.main-title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
}

.main-title label {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-color);
}

.main-title select {
    padding: 15px 5px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    width: 400px;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-color);
}

.list-consultant {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    font-size: 14px;
}

.card-consultant {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    background-color: white;
}

.content-card {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content-card .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content-card .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-card .description h5 {
    font-size: 16px;
    font-weight: 800;
}

.content-card .description p {
    color: var(--main-color);
}

.content-card .description .rate-experience {
    display: flex;
    gap: 20px;
}

.content-card .description .rate-experience .experience i {
    color: var(--main-color);
}

.action-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 0 0 8px 8px;
}

.action-card h5 {
    font-size: 16px;
    color: var(--main-color);
}

.action-card .button {
    display: flex;
    gap: 20px;
}

.action-card .button .detail {
    border: 1px solid var(--main-color);
    padding: 5px 20px;
    border-radius: 8px;
}

.action-card .button .schedule {
    border: 1px solid var(--main-color);
    padding: 5px 20px;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
}

/* Start Section Autentication Register Page and Login Page */

/* End Main */

/* ================================================== */

/* Start Footer  */

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    padding: 20px;
    color: var(--main-color);
}

section.main-footer {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;
}

.company .newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.company .newsletter input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

.company .newsletter label {
    font-size: 14px;
    margin-top: 10px;
}

.company .social-media ul {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.footer-links .link {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    gap: 8px;
}

.footer-links .link h4 {
    margin-bottom: 10px;
}

section.copyright {
    margin-top: 20px;
    text-align: center;
}

/* End Footer */

/* ================================================== */